<div class="topMargin"></div>
<div class="divCard">
	<form [formGroup]='regForm' (ngSubmit)='regist(regForm.value)' novalidate>
	<div class="divHeader"><span class='mleft'>Register</span></div>
	<div class="h"></div>
	<div class='container' fxLayout='column' fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
		fxLayoutGap.xs='10px' style='margin: 10px;'>
		<div class="item item-1" fxFlex='100%'>
			<span>Personal Info</span>
			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='fName' type='text' matInput placeholder='First name' required>
						<mat-error *ngIf="hasError('fName','required')">First name field should not be empty</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='mName' type='text' matInput placeholder='Middle name'>
					</mat-form-field>
				</div>
				<div fxFlex='33%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='lName' type='text' matInput placeholder='Last name' required>
						<mat-error *ngIf="hasError('lName','required')">Last name field should not be empty</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="h"></div>

			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<div fxFlex='50%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='address' type='text' matInput placeholder='Address' required>
						<mat-error *ngIf="hasError('address','required')">Address field should not be empty</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex='50%'>
					<mat-form-field fxFlex='100%' class="fsize">
						<input formControlName='contact' type='text' matInput placeholder='Contact No.' required>
						<mat-error *ngIf="hasError('contact','required')">Contact field should not be empty</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>

		<div class="dashed"></div>
		<div class="item item-2" fxFlex='100%'>
			<span>Account Info</span>
			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<mat-form-field fxFlex='50%' class="fsize">
					<input formControlName='username' type='text' matInput placeholder='Username' required>
					<mat-error *ngIf="hasError('username','required')">Username field should not be empty</mat-error>
				</mat-form-field>
				<mat-form-field fxFlex='50%' class="fsize">
					<input formControlName='password' type='password' matInput placeholder='Password' required>
					<mat-error *ngIf="hasError('password','required')">Password field should not be empty</mat-error>
				</mat-form-field>
			</div>
			<br>
			<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
				fxLayoutGap.xs='10px'>
				<div class="item item-1" fxFlex='100%' (mousedown)='clicked=true' (mouseup)='clicked=false' (mouseleave)='clicked=false'>
					<button type='submit' mat-raised-button color='primary' [ngClass]="{ 'regBtnMouseDwn': clicked, 'regBtnMouseUp': !clicked }">Register</button>
				</div>
				<div class="item item-1" fxFlex='100%' (mousedown)='clckd=true' (mouseup)='clckd=false' (mouseleave)='clckd=false'>
					<a routerLink='/login'>
						<button type='button' mat-raised-button [ngClass]="{ 'loginBtnMouseDwn': clckd, 'loginBtnMouseUp': !clckd }">Or click here to Login</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	</form>
	<div class="h"></div>
</div>

<!--<div class='reg-form'>
	<mat-card class='whole-card'>
		<mat-card-header>
			<mat-card-title>Register new user</mat-card-title>
		</mat-card-header>
		<form [formGroup]='regForm' (ngSubmit)='regist(regForm.value)' novalidate>
			<mat-card-content>
					<mat-card>
						<mat-card-header>
							<mat-card-title>Account Info</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
		            fxLayoutGap.xs='10px'>
								<div class='item item-1' fxFlex='45%'>
							<mat-form-field>
								<input formControlName='username' type='text' matInput placeholder='Username' required>
								<mat-error *ngIf="hasError('username','required')">Username field should not be empty</mat-error>
							</mat-form-field>
							</div>
							<div class='item item-2' fxFlex='45%'>
							<mat-form-field>
								<input formControlName='password' type='password' matInput placeholder='Password' required>
								<mat-error *ngIf="hasError('password','required')">Password field should not be empty</mat-error>
							</mat-form-field>
							</div>
							</div>
						</mat-card-content>
					<!--</mat-card>
					<br>
					<mat-card>-->
						<!--<mat-card-header>
							<mat-card-title>Personal Info</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
		            fxLayoutGap.xs='10px'>
								<div class='item item-1' fxFlex='30%'>
							<mat-form-field>
								<input formControlName='fName' type='text' matInput placeholder='First name' required>
								<mat-error *ngIf="hasError('fName','required')">First name field should not be empty</mat-error>
							</mat-form-field>
							</div>
							<div class='item item-2' fxFlex='30%'>
							<mat-form-field>
								<input formControlName='mName' type='text' matInput placeholder='Middle name'>
							</mat-form-field>
							</div>
							<div class='item item-3' fxFlex='30%'>
							<mat-form-field>
								<input formControlName='lName' type='text' matInput placeholder='Last name' required>
								<mat-error *ngIf="hasError('lName','required')">Last name field should not be empty</mat-error>
							</mat-form-field>
							</div>
							</div>
							<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='10px'
		            fxLayoutGap.xs='10px'>
								<div class='item item-1' fxFlex='45%'>
							<mat-form-field>
								<input formControlName='address' type='text' matInput placeholder='Address' required>
								<mat-error *ngIf="hasError('address','required')">Address field should not be empty</mat-error>
							</mat-form-field>
							</div>
							<div class='item item-2' fxFlex='45%'>
							<mat-form-field>
								<input formControlName='contact' type='text' matInput placeholder='Contact No.' required>
								<mat-error *ngIf="hasError('contact','required')">Contact field should not be empty</mat-error>
							</mat-form-field>
							</div>
							</div>
							<mat-card-actions align='center'>
								<button type='submit' mat-raised-button color='primary'>Register</button>
							</mat-card-actions>
						</mat-card-content>
					</mat-card>
			</mat-card-content>
		</form>
	</mat-card>
</div>-->
